@charset "UTF-8";
/* цвета */
/* заголовки */
.title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  display: inline;
}

.title--header {
  font-size: 30px;
}

.title--event {
  font-size: 36px;
  color: #ffd21f;
}

.title--attention {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.title--form {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #222222;
}

/* текст */
.text {
  display: inline;
}

.text--underline {
  text-decoration: underline;
}

.text--bold {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

/* кнопки */
.button {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#e8821c), to(#fac01e));
  background: linear-gradient(to top, #e8821c, #fac01e);
  font-size: 18px;
  padding: 14px 60px;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 5px #b96616;
          box-shadow: 0px 5px #b96616;
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fac01e), to(#e8821c));
  background: linear-gradient(to top, #fac01e, #e8821c);
  -webkit-box-shadow: 0px 5px #ffdf85;
          box-shadow: 0px 5px #ffdf85;
  color: #fff;
}

.button--green {
  background: -webkit-gradient(linear, left bottom, left top, from(#56a018), to(#92c917));
  background: linear-gradient(to top, #56a018, #92c917);
  -webkit-box-shadow: 0px 5px #427e13;
          box-shadow: 0px 5px #427e13;
}

.button--green:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#92c917), to(#56a018));
  background: linear-gradient(to top, #92c917, #56a018);
  -webkit-box-shadow: 0px 5px #b4cf79;
          box-shadow: 0px 5px #b4cf79;
}

.button-form {
  cursor: pointer;
  width: 100%;
}

/* поля ввода */
.input {
  color: #222222;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background-color: #f7f7f7;
  padding: 14px 21px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
  height: 60px;
}

.input-name {
  background: url(../assets/img/user.svg) no-repeat 92% 50% #f7f7f7;
}

.input-phone {
  background: url(../assets/img/phone.svg) no-repeat 92% 50% #f7f7f7;
}

/* контейнер */
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

/* мэйн и секции */
main {
  background-image: url(../assets/img/header-img.jpg);
  background-repeat: no-repeat;
  padding-top: 120px;
  background-size: cover;
}

main .section__event {
  padding-bottom: 155px;
}

/* хедер */
header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  width: 430px;
  text-align: center;
  margin-left: 130px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* блок акции */
.event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__title {
  width: 680px;
  text-align: center;
}

.event__title_form {
  margin-bottom: 20px;
  text-align: center;
}

.event__attention {
  margin: 25px 0 30px 0;
  text-align: center;
}

.event__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 830px;
}

.event__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.event__feature_number {
  background-color: #fff;
  color: #ffd21f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #ffd21f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.event__feature_content {
  color: #222222;
  width: 370px;
  background-color: #ffd21f;
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px 10px 55px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  font-size: 16px;
}

.event__form {
  background: #fff;
  width: 330px;
  padding: 30px;
  border-radius: 3px;
}

.event__bottom_sticker {
  position: absolute;
  background-image: url(../assets/img/header-after-img.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 162px;
  background-size: cover;
}

/* media queries */
@media all and (max-width: 1230px) {
  .button {
    font-size: 18px;
    padding: 14px 20px;
  }
}

@media all and (max-width: 1024px) {
  .header__logo img {
    width: 100px;
  }
  .button {
    font-size: 17px;
    padding: 14px 20px;
  }
  .header__title {
    width: 430px;
    text-align: center;
    margin-left: 0;
  }
  .title--header {
    font-size: 26px;
  }
}

@media all and (max-width: 870px) {
  .event__content {
    width: 750px;
  }
}

@media all and (max-width: 768px) {
  .title--header {
    font-size: 20px;
  }
  .title--event {
    font-size: 24px;
  }
  .button {
    font-size: 16px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__title {
    padding: 20px 0;
  }
  .header__button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    padding-top: 200px;
  }
  .event__title {
    width: 100%;
  }
  .event__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .event__feature_number {
    position: absolute;
    left: -30px;
  }
  .event__feature_content {
    position: unset;
  }
}

@media all and (max-width: 520px) {
  .title--event {
    font-size: 21px;
  }
  .title--attention {
    font-size: 19px;
  }
}

@media all and (max-width: 450px) {
  .title--form {
    font-size: 13px;
  }
  .button {
    font-size: 16px;
  }
  .input {
    padding: 8px 6px;
    font-size: 13px;
    height: 38px;
  }
  .header__title {
    width: 100%;
  }
  main {
    padding-top: 225px;
  }
  .event__feature_number {
    left: -15px;
  }
  .event__feature_content {
    width: 100%;
    margin-left: 15px;
    font-size: 14px;
    padding: 10px 16px 10px 42px;
  }
  .event__form {
    width: 100%;
  }
}

@media all and (max-width: 350px) {
  .button {
    font-size: 16px;
  }
}

@media all and (max-width: 300px) {
  main {
    padding-top: 250px;
  }
}