$yellowColor: #ffd21f;
$blackColor: #222222;
$orangeColor: #b96616;
$greenColor: #437f13;

.title {
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
  display: inline;
  &--header {
    font-size: 1.5625rem;
  }
  &--event {
    font-size: 1.875rem;
    color: #ffd21f;
  }
  &--attention {
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
  }
  &--form {
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    font-size: 1.0416rem;
    color: $blackColor;
  }
}

.text {
  display: inline;
  &--underline {
    text-decoration: underline;
  }
  &--bold {
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
  }

}

.button {
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #e8821c, #fac01e);
  font-size: 0.9375rem;
  padding: 0.7291rem 3.125rem;
  border-radius: 0.1562rem;
  transition: all 0.3s;
  box-shadow: 0px 0.2604rem #b96616;
  &:hover {
    background: linear-gradient(to top,#fac01e, #e8821c);
    box-shadow: 0px 0.2604rem #ffdf85;
    color: #fff;
  }
  &--green {
    background: linear-gradient(to top, #56a018, #92c917);
    box-shadow: 0px  0.2604rem #427e13;
    &:hover {
      background: linear-gradient(to top,#92c917, #56a018);
      box-shadow: 0px  0.2604rem #b4cf79;
    }
  }
  &-form {
    cursor: pointer;
    width: 100%;
  }
}

.input {
  color: $blackColor;
  border: 0.052rem solid #d1d1d1;
  border-radius: 0.1562rem;
  background-color: #f7f7f7;
  padding: 0.7291rem 1.0937rem;
  font-size: 0.8333rem;
  width: 100%;
  margin-bottom: 0.7812rem;
  &-name {
    background-image: url(../assets/img/user.svg);
    background-repeat: no-repeat;
  }
  &-phone {
    background-image: url(../assets/img/phone.svg);
    background-repeat: no-repeat;
  }
}


.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

header {
  position: absolute;
  width: 100%;
  margin-top: 1.0416rem;
}
.header {
  display: flex;
  justify-content: space-between;
  &__title {
    width: 22.3958rem;
    text-align: center;
    margin-left: 6.77rem;
  }
  &__button {
    display: flex;
    align-items: center;
  }
}
main {
  background-image: url(../assets/img/header-img.jpg);
  padding-top: 6.25rem;
}

.section {
  &__event {
    padding-bottom: 10.677rem;
  }
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 35.4166rem;
    text-align: center;
    &_form {
      margin-bottom: 1.0416;
    }
  }
  &__attention {
    margin: 1.302rem 0 1.5625rem 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 43.2291rem;
  }
  &__feature {
    display: flex;
    margin-bottom: 0.7812rem;
    position: relative;
    &_number {
      background-color: #fff;
      color: $yellowColor;
      border-radius: 50%;
      display: flex;
      border: 0.2604rem solid $yellowColor;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
      font-size: 1.25rem;
      width: 3.6458rem;
      height: 3.6458rem;
      z-index: 1;
    }
    &_content {
      color: $blackColor;
      width: 19.2708rem;
      background-color: $yellowColor;
      min-height: 3.6458rem;
      display: flex;
      align-items: center;
      padding: 0.5208rem 1.5625rem 0.5208rem 2.8645rem;
      border-radius: 0.1562rem;
      position: absolute;
      left: 1.5625rem;
      font-size: 0.8333rem;
    }
  }
  &__form {
    background: #fff;
    width: 17.1875rem;
    /* height: 18.4895rem; */
    padding: 0.8333rem;
    border-radius: 0.1562rem;
  }
}